<%- include('../partials/header') %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Overview</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <!-- Widget: user widget style 2 -->
          <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-warning">
              <div class="widget-user-image">
                <img class="img-circle elevation-2" src="dist/img/dollar-sign.png" alt="User Avatar">
              </div>
              <!-- /.widget-user-image -->
              <h5 class="widget-user-desc">Account  Balance</h5>
              <h3 class="widget-user-desc"><%- data.summary.gross %></h3>
            </div>
            <div class="card-footer p-0">
              <ul class="nav flex-column">
                <li class="nav-item">
                <!-- Info boxes -->
                  <span  class="nav-link">
                    <a href="netwotk.html" style="color: black;">
                      <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-shopping-cart"></i></span>
                        <div class="info-box-content">
                          <span class="info-box-text">Widrawals</span>
                          <span class="info-box-number">$ 0.00</span>
                        </div>
                      </div>
                    </a>
                    <a href="mining.html" style="color: black;">
                      <div class="info-box mb-3">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
                        <div class="info-box-content">
                          <span class="info-box-text">Digital Mining Income</span>
                          <span class="info-box-number">$ <%- data.summary.mining %></span>
                        </div>
                      </div>
                    </a>
                    <a href="network.html" style="color: black;">
                      <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
                        <div class="info-box-content">
                          <span class="info-box-text">Referral Commission</span>
                          <span class="info-box-number">$ <%- data.summary.referral %></span>
                        </div>
                      </div>
                    </a>
                    <a href="network.html" style="color: black;">
                      <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
                        <div class="info-box-content">
                          <span class="info-box-text">Pairing Commission</span>
                          <span class="info-box-number">$ <%- data.summary.pairing %></span>
                        </div>
                      </div>
                    </a>
                    <a href="network.html" style="color: black;">
                      <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
                        <div class="info-box-content">
                          <span class="info-box-text">Network Bonus</span>
                          <span class="info-box-number">$ <%- data.summary.network %></span>
                        </div>
                      </div>
                    </a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="widget-user-header bg-warning">
            <div class="info-box bg-danger">
              <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Contract</span>
                <span class="info-box-number">1 / 124</span>
                <div class="progress">
                  <div class="progress-bar" style="width: 1%"></div>
                </div>
                <span class="progress-description">
                  You have 124 days left
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
              <!-- /.widget-user -->
        </div>
        <!-- /.col -->
        <div class="col-md-4">
          <!-- Widget: user widget style 1 -->
          <div class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-info">
              <h3 class="widget-user-desc">Network Stream</h3>
              <h2 class="widget-user-desc"><%- data.summary.networkType %></h2>
              <h6 class="description-header">Total Pair(s): <%- data.summary.pairs %></h6>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header"><%- data.summary.left %></h5>
                    <span class="description-text">LEFT</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header"><%- data.summary.downline %></h5>
                    <span class="description-text">Downline</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header"><%- data.summary.right %></h5>
                    <span class="description-text">RIGHT</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        <!-- /.col -->
        <div class="col-md-4">
          <!-- Widget: user widget style 1 -->
          <div class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header text-white"
                style="background: url('dist/img/wallhaven-vg5pr3.png') center center;">
              <h3 class="widget-user-username text-right">Referral Codes</h3>
              <h5 class="widget-user-desc text-right">Buy Now</h5>
            </div>
            <div class="card-footer p-0">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    Referral Codes <span class="float-right badge bg-primary"><%- data.referral.codes %></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    Used <span class="float-right badge bg-info"><%- data.referral.isUsed %> 0</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    Unused <span class="float-right badge bg-danger"><%- data.referral.unUsed %></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title">Online Store Visitors</h3>
                <a href="javascript:void(0);">View Report</a>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex">
                <p class="d-flex flex-column">
                  <span class="text-bold text-lg">820</span>
                  <span>Visitors Over Time</span>
                </p>
                <p class="ml-auto d-flex flex-column text-right">
                  <span class="text-success">
                    <i class="fas fa-arrow-up"></i> 12.5%
                  </span>
                  <span class="text-muted">Since last week</span>
                </p>
              </div>
              <!-- /.d-flex -->
              <div class="position-relative mb-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <canvas id="visitors-chart" height="200" width="100%" class="chartjs-render-monitor" style="display: block; width: 343px; height: 200px;"></canvas>
              </div>
              <div class="d-flex flex-row justify-content-end">
                <span class="mr-2">
                  <i class="fas fa-square text-primary"></i> This Week
                </span>
                <span>
                  <i class="fas fa-square text-gray"></i> Last Week
                </span>
              </div>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  </div>
</div>
<!-- /.content-wrapper -->
<%- include('../partials/footer') %>