<%- include('../partials/header') %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Digital Mining</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item is-active">Minings</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
      <div class="container-fluid">
          <section class="content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-3">
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                      <div class="card-body box-profile">
                        <div class="text-center">
                          
                        </div>
                        <div class="text-center">
                          <img class="profile-user-img img-fluid img-circle" src="dist/img/rank/rank01_Miner.png" alt="Rank Mining Picture">
                        </div>
                        <h3 class="profile-username text-center">$ <%- data.totalMiningIncome %> 0</h3>
        
                        <p class="text-muted text-center">Total Mined Earnings</p>
        
                        <ul class="list-group list-group-unbordered mb-3">
                          <li class="list-group-item">
                            <b>Rank</b> <a class="float-right"><%- data.ranking ? data.ranking.rankName : '' %> </a>
                          </li>
                          <li class="list-group-item">
                            <b>Daily Income</b> <a class="float-right">$ <%- data.ranking ? data.ranking.incomePerDay : '0.00' %> </a>
                          </li>                   
                          <li class="list-group-item">
                            <b>Hashrate</b> <a class="float-right"><%- data.ranking ? data.ranking.hashRate : '0' %>  <%- data.ranking ? data.ranking.hashRateStr : '' %> </a>
                          </li>        
                          <li class="list-group-item">
                            <b>Power</b> <a class="float-right"><%- data.ranking ? data.ranking.power : '0' %>  W</a>
                          </li>      
                          <li class="list-group-item">
                            <b>Algo</b> <a class="float-right"><%- data.ranking ? data.ranking.algorithm : '' %> </a>
                          </li>   
                          <li class="list-group-item">
                            <b>Device</b> <a class="float-right"><%- data.ranking ? data.ranking.gpuModel : '' %> </a>
                          </li>                             
                        </ul>
                        <a href="/dashboard/mining/upgrade" class="btn btn-primary btn-block"><b>Upgrade</b></a>
                        <a href="#" class="btn btn-danger btn-block"><b>Withdraw</b></a>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-9">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Daily Earnings</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                          <thead>
                          <tr>
                            <th>Date</th>
                            <th>Rank</th>
                            <th>Mining Power</th>
                            <th>Earnings</th>
                            <th>Gross Income</th>
                          </tr>
                          </thead>
                          <tbody>
                            <% for(let i=0; i < data.minings.length; i++) { %>
                              <% const dateCreated = new Date(data.minings[i].dateCreated)  %> 
                              <% let month = (1 + dateCreated.getMonth()).toString(); %>
                              <% month = month.length > 1 ? month : '0' + month; %>
                              <% let day = dateCreated.getDate().toString(); %>
                              <% day = day.length > 1 ? day : '0' + day; %>
                              <tr>
                                <td><%- month + "/" + day + "/" + dateCreated.getFullYear() %></td>
                                <td><%- data.minings[i].rank %> </td>
                                <td><%- data.minings[i].power %> </td>
                                <td><%- data.minings[i].miningIncome %> </td>
                                <td><%- data.minings[i].grossIncome %> </td>
                              </tr>
                            <% } %>  
                          </tbody>
                        </table>
                      </div>
                      <div class="card-footer">

                      </div>
                      <!-- /.card-body -->
                    </div>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div><!-- /.container-fluid -->
            </section>
          </div>
          <!-- /.row -->
       </section>
  </div>
</div>
<%- include('../partials/footer') %>