<%- include('../partials/header') %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Network</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <% if(isSearch) { %>
              <li class="breadcrumb-item"><a href="/dashboard/network">Network</a></li>
              <li class="breadcrumb-item active"><%- data.searchId %> </li>
            <% } else { %>
              <li class="breadcrumb-item active">Network</li>
            <% } %>  
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <!-- Profile Image -->
              <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                  <div class="text-center">
                  </div>
                  <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" src="dist/img/rank/rank01_Miner.png" alt="User profile picture">
                  </div>
                  <h3 class="profile-username text-center">$ <%- data.totalBonus %> </h3>
                  <p class="text-muted text-center">Total Earning Bonus</p>
                  <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                      <b>Level</b> <a class="float-right"><%- data.level %> </a>
                    </li>
                    <li class="list-group-item">
                      <b>Pairs</b> <a class="float-right"><%- data.pairs %> </a>
                    </li>    
                    <li class="list-group-item">
                      <b>Left</b> <a class="float-right"><%- data.left %> </a>
                    </li>
                    <li class="list-group-item">
                      <b>Right</b> <a class="float-right"><%- data.right %> </a>
                    </li> 
                    <li class="list-group-item">
                      <b>Downline</b> <a class="float-right"><%- data.downline %> </a>
                    </li>   
                    <li class="list-group-item">
                      <b>Network Bonus</b> <a class="float-right">$ <%- data.networkBonus %> </a>
                    </li>    
                    <li class="list-group-item">
                      <b>Pairing Bonus</b> <a class="float-right">$ <%- data.pairingBonus %> </a>
                    </li>  
                    <li class="list-group-item">
                      <b>Referral Bonus</b> <a class="float-right">$ <%- data.referralBonus %> </a>
                    </li>      
                    <li class="list-group-item">
                      <b>Withdrawals</b> <a class="float-right">$ <%- data.totalWithdrawals %> </a>
                    </li>                      
                  </ul>
                  <a href="/dashboard/network/buyreferral" class="btn btn-primary btn-block"><b>Buy Referral Code</b></a>
                  <a href="#" class="btn btn-danger btn-block"><b>Withdraw</b></a>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">My Referrals</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <strong><i class="fas fa-book mr-1"></i> Direct referrals</strong>
                  <p class="text-muted">
                    10 out of 10
                  </p>
                  <div class="progress">
                    <div class="progress-bar bg-primary progress-bar-striped" role="progressbar" aria-valuenow="1" aria-valuemin="20" aria-valuemax="20" style="width: 100%">
                      <span class="sr-only">1% Complete (success)</span>
                    </div>
                  </div>
                  <hr>
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a href="referrals.html" class="nav-link">
                        Referral Codes <span class="float-right badge bg-primary"><%- data.referralCodes %> </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="referrals.html" class="nav-link">
                        Used <span class="float-right badge bg-info"><%- data.usedReferrals %> </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="referrals.html" class="nav-link">
                        Unused <span class="float-right badge bg-danger"><%- data.unUsedReferrals %> </span>
                      </a>
                    </li>
                  </ul>
                  <!-- /.card-header -->
                </div>
                <!-- /.card-body -->
              </div>
              <!-- About Me Box -->
              <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
              <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#tree" data-toggle="tab">Genealogy Tree</a></li>
                    <li class="nav-item"><a class="nav-link" href="#purchases" data-toggle="tab">Purchases</a></li>
                    <li class="nav-item"><a class="nav-link" href="#withdrawals" data-toggle="tab">Withdrawals</a></li>
                  </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                  <div class="tab-content">
                    <div class="active tab-pane" id="tree">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Tree</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <div class="tree">
                            <ul>
                              <li>
                                <a href="javascript:void(0)"><img src="dist/img/avatar04.png" style="border-radius: 50%;width:  100px;"></a>
                                <h3><%- data.accountName %> </h3>
                                <ul>
                                  <li>
                                    <% if(data.leftTree.length > 0) { %>
                                      <% for(let i=0; i < data.leftTree.length; i++){ %>
                                        <% if(data.leftTree[i].level == 1) { %>
                                          <a href="/dashboard/network/<%- data.leftTree[i].account %>"><img src="dist/img/avatar04.png" style="border-radius: 50%;width:  50px;"></a>
                                          <h5><%- data.leftTree[i].accountName %></h5>   
                                        <% } else { %>
                                          <ul>
                                            <a href="/dashboard/network/<%- data.leftTree[i].account %>"><img src="dist/img/avatar04.png" style="border-radius: 50%;width:  50px;"></a>
                                            <h5><%- data.leftTree[i].accountName %></h5>  
                                          </ul>  
                                        <% } %>
                                      <% } %>  
                                    <% } else { %>
                                      <a href="javascript:void(0)"><img src="dist/img/avatar04.png" style="border-radius: 50%;width:  50px;"></a>
                                    <% } %>                         
                                  </li>
                                  <li>
                                    <% if(data.rightTree.length > 0) { %>
                                      <% for(let i=0; i < data.rightTree.length; i++){ %>
                                        <% if(data.rightTree[i].level == 1) { %>
                                          <a href="/dashboard/network/<%- data.rightTree[i].account %>"><img src="dist/img/avatar04.png" style="border-radius: 50%;width:  50px;"></a>
                                          <h5><%- data.rightTree[i].accountName %></h5>   
                                        <% } else { %>
                                          <ul>
                                            <a href="/dashboard/network/<%- data.rightTree[i].account %>"><img src="dist/img/avatar04.png" style="border-radius: 50%;width:  50px;"></a>
                                            <h5><%- data.rightTree[i].accountName %></h5>  
                                          </ul>  
                                        <% } %>
                                      <% } %>  
                                    <% } else { %>
                                      <a href="javascript:void(0)"><img src="dist/img/avatar04.png" style="border-radius: 50%;width:  50px;"></a>
                                    <% } %>                                    
                                  </li> 
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="purchases">
                      <!-- The timeline -->
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Latest Purchases History</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <table id="example5" class="table table-bordered table-striped">
                            <thead>
                              <tr>
                                <th>Date Purchase</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total Amount</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% for(let i=0; i < data.purchases.length; i++) { %>
                                <% const dateCreated = new Date(data.purchases[i].dateCreated)  %> 
                                <% let month = (1 + dateCreated.getMonth()).toString(); %>
                                <% month = month.length > 1 ? month : '0' + month; %>
                                <% let day = dateCreated.getDate().toString(); %>
                                <% day = day.length > 1 ? day : '0' + day; %> 
                                <tr>
                                  <td><%- month + "/" + day + "/" + dateCreated.getFullYear() %></td>
                                  <td>$ 70</td>
                                  <td><%- data.purchases[i].quantity %> </td>
                                  <td>$ <%- data.purchases[i].totalUsdPrice %> </td>
                                </tr>
                              <% } %>  
                            </tbody>
                          </table>
                        </div>
                        <!-- /.card-body -->
                      </div>
                    </div>
                    <div class="tab-pane" id="withdrawals">
                      <!-- The timeline -->
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Latest Withdrawals History</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <table id="example7" class="table table-bordered table-striped">
                            <thead>
                              <tr>
                                <th>Date Withdraw</th>
                                <th>Payment Method</th>
                                <th>Total Amount</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>2020-04-07</td>
                                <td>Bitcoin</td>
                                <td>$ 1003</td>
                              </tr>
                              <tr>
                                <td>2020-04-07</td>
                                <td>Bitcoin</td>
                                <td>$ 1003</td>
                              </tr>
                              <tr>
                                <td>2020-04-07</td>
                                <td>Bitcoin</td>
                                <td>$ 1003</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!-- /.card-body -->
                      </div>
                    </div>
                  </div>
                  <!-- /.tab-content -->
                </div><!-- /.card-body -->
              </div>
              <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
    </div>
    <!-- /.row -->
  </section>
</div>
<%- include('../partials/footer') %>