<%- include('../partials/header') %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Buy Referral Codes</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">        
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/dashboard/network">Network</a></li>
            <li class="breadcrumb-item active">Buy Referral</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <section class="content">
      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-12">
              <h3 class="my-3">Xerrance Referral Codes</h3>
                <p>Get free Bitmain Antminer S17 with Hashrate 56 th/s, 2520 Power and earn <br> $ 0.59 a day</p>
                <hr>
                <div class="bg-gray py-2 px-3 mt-4">
                  <h1 id="totals" class="mb-0">$ <%- data.totalPriceStr %></h1>
                  <h4 class="mt-0">
                    <small>Price: $ <%- data.priceStr %></small>
                  </h4>
                  <h4 class="mt-0">
                    <small>Quantity: <%- data.quantity %></small>
                  </h4>
                  <h4 class="mt-0">
                    <small>Ex Tax: $ 0.00 </small>
                  </h4>
                </div>
                <div class="mt-4">
                  <a href="" class="blockoPayBtn" data-toggle="modal" data-uid=e1491958723211ea
                  data-price="<%- data.totalPrice %>" data-extra="transId:<%- data.id %>##type:refAccount##token:<%- data.token %>">
                    <img width=160 src="https://www.blockonomics.co/img/pay_with_bitcoin_medium.png"></a>
                </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </section>
    <!-- /.card-body -->
  </section>
</div>
<!-- /.content-wrapper -->
<%- include('../partials/footer') %>
<script src="https://www.blockonomics.co/js/pay_button.js"></script>