<%- include('../partials/header') %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Referral Codes</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Referral Codes</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
        <div class="col-md-12">
					<div class="card card-primary card-outline">
						<!-- /.card-header -->
						<div class="card-body table-responsive p-0">
							<table class="table table-hover text-nowrap">
								<thead>
									<tr>
										<th>Date Created</th>
										<th>Referral Code</th>
										<th>Is Used</th>
										<th>Leg</th>
										<th>Visit</th>
									</tr>
								</thead>
								<tbody>
									<% if(data.referrals.referralCodes){  %>
										<% for(i=0; i < data.referrals.referralCodes.length; i++) { %>
											<% const codes = data.referrals.referralCodes[i]; %>
											<% const dateCreated = new Date(codes.dateCreated)  %> 
											<% let month = (1 + dateCreated.getMonth()).toString(); %>
											<% month = month.length > 1 ? month : '0' + month; %>
											<% let day = dateCreated.getDate().toString(); %>
											<% day = day.length > 1 ? day : '0' + day; %>
											<% let legStatus = ''; %>
											<% const leftIndex = data.referrals.leftCodes.indexOf(codes._id) %>
											<% const rightIndex = data.referrals.rightCodes.indexOf(codes._id)  %> 
											<% if(leftIndex > -1) { %>
												<% legStatus = 'Left'; %>
												<% data.referrals.left.splice(leftIndex,1) %> 
											<% } else if (rightIndex > -1) { %>
												<% legStatus = 'Right'; %>
												<% data.referrals.right.splice(rightIndex,1) %> 
											<% } else { %>
												<% legStatus = 'Pending' %> 
											<% } %>  
											<tr>
												<td><%- month + "/" + day + "/" + dateCreated.getFullYear() %></td>
												<td><%- codes._id %></td>
												<td>
													<input type="checkbox" disabled <%- codes.isUsed ? 'checked' : '' %>>
												</td>
												<td><%- legStatus %> </td>
												<td><a href="/dashboard/referralcodes/<%- codes._id %> ">View</a></td>
											</tr>
										<% } %>
									<% }  %> 
                </tbody>
								</tbody>
							</table>
						</div>
						<div class="card-footer clearfix">
							<ul class="pagination pagination-sm m-0 float-right">
								<% for(i=0; i < data.pages.length; i++) { %>
									<li class="page-item <%- data.pages[i].isActive ? 'active' : '' %> "><a class="page-link" href="/dashboard/referralcodes?page=<%- data.pages[i].cnt %>"><%- data.pages[i].cnt %></a></li>
								<% } %>
							</ul>
						</div>
						<!-- /.card-body -->
					</div>
				</div>
      </div>
			<!-- /.row -->
    </div>
  </section>
</div>
<!-- /.content-wrapper -->
<%- include('../partials/footer') %>