<%- include('partials/index-header') %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Buy Referral Code<small></small></h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container login-page-test">
      <div class="card card-solid">
        <div class="card-body">   
          <div class="row">
            <div class="col-12 col-sm-12">
              <form method="POST" action="/buyreferralcode">
                <h3 class="my-3">Xerrance Referral Code</h3>
                <p>Get free Bitmain Antminer S17 with Hashrate 56 th/s, 2520 Power and earn <br> $ 0.59 a day</p>
                <hr>
                <div class="bg-gray py-2 px-3 mt-4">
                  <h1 id="totals" class="mb-0">$ <%- data.totalPrice %></h1>
                  <h4 class="mt-0">
                    <small>Ex Tax: $0.00 </small>
                  </h4>
                  <h4 class="mt-0">
                    <small>Email: <%- data.email %></small>
                  </h4>
                </div>
                <div class="mt-4">
                  <a href="" id="btcPayment" class="blockoPayBtn" data-toggle="modal" data-uid=e1491958723211ea
                    data-price="<%- data.totalPrice %>" data-extra="transId:<%- data.id %>##type:head">
                      <img width=160 src="https://www.blockonomics.co/img/pay_with_bitcoin_medium.png"></a>
                </div>
              </form>
            </div>
          </div>
        </div>
     </div>
    </div>
  </div>
</div>
<%- include('partials/index-footer') %>
<script src="https://www.blockonomics.co/js/pay_button.js"></script>